<h1>Session#index</h1>
<p>This is the login</p>
<a href="/login" class="button">Login</a>

<% if @header %>
  <p> Header: <%= @header %> </p>
  <p> Payload: <%= @payload %> </p>
  <p> Signature: <%= @signature %> </p>
<% end %>
