<h1 class="display-3 text-center">Welcome</h1>

<div class="lign-self-center">
  <a href="/login" class="btn btn-primary">Login</a>
</div>

<% if @header %>
  <p> Header: <%= @header %> </p>
  <p> Payload: <%= @payload %> </p>
<% end %>
